@font-face {
  font-family: 'chevrola';
  src: local('chevrola'), url('./fonts/chevrola.otf') format('opentype');
}

body {
  font-family: "Roboto";
  background-color: black;
  height: 95vh;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body::before {
  content: "";
  background-image: url("./images/background.jpeg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.725;
}

.MuiList-root {
  color: white;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000000;
}

.MuiListItem-root:hover {
  position: relative;
  z-index: 10000001;
  color: rgba(255, 100, 0, 1);
}

.logoMobileContainer {
  position: absolute;
  z-index: 10000;
  top: 1%;
  left: calc(100vw - 60vw)
}

#logoMobile {
  font-family: 'chevrola';
  position: relative;
  color: rgba(255, 100, 0, 1);
}

.logoContainer {
  position: absolute;
  z-index: 10000;
  top: 1%;
  left: calc(100vw - 25vw)
}

#logo {
  font-family: 'chevrola';
  position: relative;
  color: rgba(255, 100, 0, 1);
}

.socialFooter {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: calc(100vh - 50px);
  left: 0px;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#socialLogo {
  position: relative;
  height: 40px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.bodyDiv {
  position: relative;
  z-index: 1000;
  text-align: center;
  top: calc(1vh);
  left: calc(2vw);
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  width: calc(100vw - 10vw);
  height: calc(100vh - 15.5vh);
  overflow-y: auto;
  color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: 0px 1px 4px black;
  font-size: 10rem;
  /* background-color: rgba(0, 0, 0, 0.8); */
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.bodyDiv-home {
  position: relative;
  z-index: 1000;
  text-align: center;
  top: calc(1vh);
  left: calc(2vw);
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  width: calc(100vw - 10vw);
  height: calc(100vh - 17.5vh);
  overflow-y: auto;
  color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: 0px 1px 4px black;
  font-size: 10rem;
  /* background-color: rgba(0, 0, 0, 0.3); */
}

.bodyDiv-home-mobile-vert {
  position: relative;
  z-index: 1000;
  text-align: center;
  top: calc(1vh);
  left: calc(2vw);
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  width: calc(100vw - 15vw);
  height: calc(100vh - 17.5vh);
  overflow-y: auto;
  color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: 0px 1px 4px black;
  font-size: 10rem;
  /* background-color: rgba(0, 0, 0, 0.8); */
}

.container-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vh;
}

.home-image {
  width: 225px;
  height: 225px;
  overflow: hidden;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(46, 49, 49, 1);
}

#dsc-home {
  height: 300px;
  width: auto;
  margin: 0 auto;
  margin-left: -23%;
  margin-top: -7.5%;
}

.home-text {
  padding-top: 3vh;
}

.home-bottom-text {
  padding-top: 15vh;
}


.bodyDiv-portfolio {
  position: relative;
  z-index: 1000;
  text-align: center;
  top: calc(1vh);
  left: calc(2vw);
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  width: calc(100vw - 10vw);
  height: calc(100vh - 17.5vh);
  overflow-y: auto;
  color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: 0px 1px 4px black;
  font-size: 10rem;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.projectCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 8vh;
}

#videoPreview {
  height: 50vh;
  width: 35vw;
}

hr.solid {
  border-top: 3px solid rgba(238,238,238,1);
  border-radius: 1px;
}

.buttonSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.projectButton {
  padding-left: 5px;
  padding-right: 5px;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 25px;
  padding-right: 10px;
  width: 50vw;
}

.projectName {
  padding-bottom: 25px;
}

.bodyDiv-portfolio-mobile-vert {
  position: relative;
  z-index: 1000;
  text-align: center;
  top: calc(1vh);
  left: calc(0.5vw);
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  width: calc(100vw - 12.5vw);
  height: calc(100vh - 18vh);
  overflow-y: auto;
  color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: 0px 1px 4px black;
  font-size: 10rem;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.projectCard-mobile-vert {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2vh;
}

.buttonSection-mobile-vert {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
}

#videoPreview-mobile-vert {
  height: 35vh;
  width: 75vw;
}

.bodyDiv-resume {
  position: relative;
  z-index: 1000;
  text-align: center;
  top: calc(1vh);
  left: calc(1vw);
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  width: calc(100vw - 10vw);
  height: calc(100vh - 17.5vh);
  /* overflow-y: auto; */
  color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: 0px 1px 4px black;
  font-size: 10rem;
  /* background-color: rgba(0, 0, 0, 0.25); */
  border-radius: 5px;
}

.bodyDiv-resume-mobile-vert {
  position: relative;
  z-index: 1000;
  text-align: center;
  top: calc(1vh);
  left: calc(1vw);
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  width: calc(100vw - 10vw);
  height: calc(100vh - 17.5vh);
  /* overflow-y: auto; */
  color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: 0px 1px 4px black;
  font-size: 10rem;
  /* background-color: rgba(0, 0, 0, 0.25); */
  border-radius: 5px;
}

.bodyDiv-resume-mobile-hori {
  position: relative;
  z-index: 1000;
  text-align: center;
  top: calc(7vh);
  left: calc(1vw);
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  width: calc(100vw - 10vw);
  height: calc(100vh - 17.5vh);
  /* overflow-y: auto; */
  color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: 0px 1px 4px black;
  font-size: 10rem;
  /* background-color: rgba(0, 0, 0, 0.25); */
  border-radius: 5px;
}

#embeddedResume {
  height: 85vh;
  width: 50vw;
}

#embeddedResume-mobile-vert {
  height: 82vh;
  width: 90vw;
}

#embeddedResume-mobile-hori {
  height: 70vh;
  width: 90vw;
}

.bodyDiv-contact-form {
  position: relative;
  z-index: 1000000;
  text-align: center;
  /* top: calc(1vh); */
  left: calc(2vw);
  /* padding-left: 2.5vw; */
  /* padding-right: 2.5vw; */
  /* width: calc(100vw - 10vw); */
  /* height: calc(100vh - 17.5vh); */
  overflow-y: auto;
  color: white;
  -webkit-text-stroke: 0px white;
  text-shadow: 0px 2px 6px black;
  /* background-color: rgba(0, 0, 0, 0.3); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.input-field {
  -webkit-text-fill-color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  border-color: rgba(255, 100, 0, 1);
  width: 40vw;
}

.contactButton {
  color: white;
  padding-top: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

#successMessage {
  position: absolute;
  top: -17.5vh;
}

.contactTitle {
  padding-bottom: 10px;
}

.bodyDiv-contact-form-mobile-vert {
  position: relative;
  z-index: 1000000;
  text-align: center;
  /* top: calc(1vh); */
  left: calc(2vw);
  /* padding-left: 2.5vw; */
  /* padding-right: 2.5vw; */
  /* width: calc(100vw - 10vw); */
  /* height: calc(100vh - 17.5vh); */
  overflow-y: auto;
  color: white;
  -webkit-text-stroke: 0px white;
  text-shadow: 0px 2px 6px black;
  /* background-color: rgba(0, 0, 0, 0.3); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field-mobile-vert {
  -webkit-text-fill-color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  border-color: rgba(255, 100, 0, 1);
  width: 80vw;
}

.bodyDiv-aboutme {
  position: relative;
  z-index: 1000;
  text-align: center;
  top: calc(1vh);
  left: calc(2vw);
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  width: calc(100vw - 10vw);
  height: calc(100vh - 17.5vh);
  overflow-y: auto;
  color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: 0px 2px 6px black;
  font-size: 10rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.container-aboutme {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}

.aboutme-image {
  position: relative;
  width: 445px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(191,191,191,1);
}

#dsc-aboutme {
  height: 500px;
  width: auto;
  margin: 0 auto;
  /* margin-left: -2.5%;
  margin-top: -2.5%; */
}

.aboutme-text {
  width: 90vw;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.bodyDiv-aboutme-mobile-vert {
  position: relative;
  z-index: 1000;
  text-align: center;
  top: calc(1vh);
  left: calc(1vw);
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  width: calc(100vw - 12.5vw);
  height: calc(100vh - 17.5vh);
  overflow-y: auto;
  color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: 0px 2px 6px black;
  font-size: 10rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.aboutme-image-mobile-vert {
  position: relative;
  width: 267px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(191,191,191,1);
}

#dsc-aboutme-mobile-vert {
  height: 300px;
  width: auto;
  margin: 0 auto;
  /* margin-left: -2.5%;
  margin-top: -2.5%; */
}

.aboutme-text-mobile-vert {
  width: 85vw;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

